<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
          <rewrite>
            <rules>
        <rule name="DefaultCategoryProductRewrite">
          <match url="(.*)/c-([0-9]+)/c-([0-9]+)/p-([0-9]+)" />
          <action type="Rewrite" url="/kentico/catalog/product.aspx?catalog={R:2}&amp;category={R:3}&amp;product={R:4}" />
        </rule>
        <rule name="DefaultProductRewrite">
          <match url="(.*)/c-([0-9]+)/p-([0-9]+)" />
          <action type="Rewrite" url="/kentico/product.aspx?catalog={R:2}&amp;product={R:3}" />
        </rule>
        <rule name="DefaultCategoryRewrite">
          <match url="(.*)/c-([0-9]+)/c-([0-9]+)" />
          <action type="Rewrite" url="/kentico/catalog.aspx?catalog={R:2}&amp;category={R:3}" />
        </rule>
        <rule name="DefaultCatalogRewrite">
          <match url="(.*)/c-([0-9]+)" />
          <action type="Rewrite" url="/kentico/catalog.aspx?catalog={R:2}" />
        </rule>
      </rules>
        </rewrite>
    </system.webServer>
</configuration>
