.cms-bootstrap .cat-ucommerce {
  background-color: #3C43BF;
}
.cms-bootstrap .dashboard .cat-ucommerce .tile-icon {
  color: #3C43BF;
}
.cms-bootstrap .dashboard .cat-ucommerce.tile-btn:hover {
  border-bottom-color: #3C43BF;
}