/* Bootstrap Theme Overrides
-------------------------------------------*/
body {
    padding-top: 70px;
    padding-bottom: 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}

.money {
    white-space: nowrap !important;
}

.hide {
    display: none;
}

input.checkbox {
	border: 0 none;
	display: block;
	padding-left: 20px;
	background: transparent url('../img/uCommerce/checkbox_empty.png') left center no-repeat;
	cursor: pointer;
}

input.checkbox:hover {
	background-image: url('../img/uCommerce/checkbox_empty_hover.png');
}


input.checkbox.checked {
	background-image: url('../img/uCommerce/checkbox_checked.png');
}

input.checkbox.checked:hover {
	background-image: url('../img/uCommerce/checkbox_checked_hover.png');
}


.inline-labels label {
    display: inline-block;
    margin-left: 5px;
}


.sidebar-nav {
    padding: 9px 0;
}
.container-fluid {
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

h1, h2, h3, h4, h5, h6, p {
    color:#767676;
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
}

label {
    font-size: 0.91rem;
    line-height: 1.5rem;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
}

.page-header {
    margin-top: 0;
    margin-bottom: 1rem;
}

address {
    margin-bottom: 0;
}

select {
    width: 100%;
    padding: 0.4rem 0.75rem;
    font-size: 1rem;
    line-height: 13.25;
    font-family: inherit;
    color: #55595c;
    background-color: #fff;
    height: auto;
}

.well {
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 19px;
    box-sizing: border-box;
    margin-left: 0 !important;
}

.well [class^="icon-"],
.well [class*=" icon-"] {
    margin-top: 7px;
}

.well aside {
    padding-right: 15px;
    padding-left: 15px;
}

    .well aside .item-price {
        margin-top: 19% !important; 
    }


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.hero-unit {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    background: 0 none;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    background: #4a95c5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .brand, .navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
}
.navbar .brand {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../../img/ucommerce/logo.png") 0 6px no-repeat;
    padding-left: 40px;
}
.navbar-search .search-query {
    padding: 3px 14px;
    border: 0 none;
}
.btn {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    background: #59B4EE; /*6dbe78*/
    filter:none;
    border: 1px solid #59B4EE;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
}

.btn:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-color: #4A95C5;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0;
}

.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn.btn-arrow-right {
	background-image: url(../img/uCommerce/white-arrow-right.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 30px;
}

.btn.update-basket {
	background-image: url(../img/uCommerce/refresh.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 26px;
}


.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-search .input-append .search-query,
.form-search .input-append .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;    
}
.form-search .input-append .btn {
    height: 2.3rem;
    width: 2.3rem;
    
}

.form-search .input-append .search-query {
    margin-left: 4vw;
    height: 1.95rem;
    width: 18vw;
    font-size: 0.9rem;
}
.icon-search {
    opacity: 0.7;
}
.icon-truck {
  background-position: 0 0;
}
.icon-grey-search {
    background-position: -24px 0;
}
.icon-grey-star {
  background-position: -96px 0;
}
/* Common
-------------------------------------------*/
#search-form {
}
    #search-form .btn {
        background-color: #fff;
        border: 0 none;
    }

.main-nav {
    padding: 5px 0 5px 0;
}

#main-nav ul {
}
    #main-nav li{
        color:#767676;
    }
        #main-nav li a{
            color:#767676;
            padding: 5px 15px;
            text-shadow: none;
        }
            #main-nav li ul li a{
                padding: 0px 15px;
            }
        #main-nav .nav > li > a:hover {
            text-decoration: underline;
            background-color: transparent;
        }
        #main-nav li.on > a,
        #main-nav .nav li.on > a:hover{
            color: #fff;
            background-color:#4a95c5;
            text-decoration:underline;
        }
#why-buy {
}
    #why-buy ol{
        padding: 0;
        margin: 0;
    }
        #why-buy ol li{
            font-size: 1.2em;
            list-style: none;
            padding: 20px 10px;
            color:#767676;
            border-bottom: 1px solid #ebebeb;
            font-weight: bold;
        }
            #why-buy ol li i{
                margin-right: 10px;
            }
#powered-by-ucommerce {
    padding: 20px 20px 10px;
}
#about,
#newsletter,
#iplookup {
    padding: 20px;
}
th.number,
th.money,
td.number,
td.money {
    text-align: right;
}

input[type=text], input[type=email] {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-family: inherit;
    color: #55595c;
    background-color: #fff;
    height: auto;
}

.footerAddress {
    text-align: center;
}

#review-form .controls textarea {
    font-size: 16px;
    border-radius: 0.25rem;
    padding: .5rem .75rem;
}

#review-form .control-label {
    margin-bottom: 0;
}

    #review-form .control-label[for=review-name] {
        margin-top: 15px;
    }

/* Product List Page
-------------------------------------------*/
.product-list {
    margin-left: 0 !important;
}

.product-list .product {
    min-height: 500px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 40px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left: 5%;
    width: 30%;
}

.product .item-price {
    color: #46a546;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin: 10px 0 0;
}

.product .item-tax {
    font-style: italic;
    font-size: 0.9em;
    color: #606060;
}

.product-list .product .btn-group.view-details {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.product-list .product:nth-child(3n+1) {
    clear:left;
    margin-left:0;
}
    .product-list .product:hover {
        border-color:#59B4EE;
    }
    .product-list .product .product-image{
        position: relative;
        max-width: 300px;
    }
        .product-list .product .product-image .ratings {
            width:100%;
            position: absolute;
            bottom:0px;
            text-align: center;
            margin: 0;
            padding:0;
        }
        .product-list .product .product-image .ratings span{
            width:90px;
            margin:0 auto;
            height: 19px;
            display: block;
            padding: 3px 5px;
            background-color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.6);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
        }
    .product-list .product .item-name {
        clear: both;
        position:relative;
        margin: 10px 0 0 0;
        height: 46px;
        overflow: hidden;
    }
    .product-list .product .item-price {
    }
        .product-list .product .view-details a{
            padding: 0 0 0 14px;
            line-height: 29px;
            border-right-color: #294a64;
        }
        .product-list .product .view-details span{
            background-color: #294A64;
            padding: 6px 14px;
            margin-left: 4px;
        }
/* Product Details Page
-------------------------------------------*/
#product-details {
}
#product-details select option:disabled {
    font-style: italic;
    color: #dcdcdc;
}
#product-details aside .item-price {
    color: #46a546;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin: 10px 0 0;
}
#product-details aside .item-tax {
    font-style: italic;
    font-size: 0.9em;
    color: #606060;
}
#product-details .rating {
}
    #product-details .rating label {
        cursor: pointer;
        float:left;
    }
        #product-details .rating label i {
        }
#product-details .review {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
    #product-details .review .review-stars{
        float:left;
        width:100px;
    }
    #product-details .review .review-headline{
        font-weight: bold;
        margin:0;
    }
    #product-details .review .review-by{
        font-size: 0.85em;
    }
#product-details .review .review-comment {
    padding-left: 50px;
    background: url(/img/ucommerce/return.png) 15px 15px no-repeat;
    margin: 5px 0;
}
    #product-details .review .review-comment article,
    #product-details .review .review-comment header {
        border-left:5px solid #4a95c5;
        padding-left: 10px;
        min-height: 25px;
    }
    #product-details .review .review-comment header {
        font-size: 0.85em;
    }
/* Cart Page
-------------------------------------------*/
#cart {
}
#cart .qty {
    text-align: center;
    width: 50px;
}
#cart .line-remove {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #DA4F49;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
#cart .line-remove:hover {
    color: #DA4F49;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#cart input.line-remove,
#cart button.line-remove 
 {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
/* Address page
-------------------------------------------*/
#checkShowShipping {
    top: -2px;
    position: relative;
}

#Address div.span12 {
    margin-left: 0;
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
