<configuration>
  <components>
    <component id="DefaultCatalogDataProvider"
               service="CMSApp.CMSWebParts.Ucommerce.Services.IDefaultCatalogDataProvider, CMSApp"
               type="CMSApp.CMSWebParts.Ucommerce.Services.DefaultCatalogDataProvider, CMSApp" />
  </components>
</configuration>
